@import "./colors.scss";
$fa-font-path:"../node_modules/font-awesome/fonts";
@import "../node_modules/font-awesome/scss/font-awesome";
:global {
    @import "../node_modules/nprogress/nprogress";
}

@font-face {
    font-family: "Simplifica";
    src: url("./assets/fonts/simplifica.woff") format('woff');
}

@font-face {
    font-family: "Qanelas";
    src: url("./assets/fonts/qanelas.woff") format('woff');
}

body {
    color: $black;
    margin: 0;
    padding: 0;
    font-family: Qanelas, Helvetica, Sans-Serif;
    overflow: hidden;
}