$fa-font-path:"../../../node_modules/font-awesome/fonts";
@import "../../../node_modules/font-awesome/scss/font-awesome";
@import "src/vars.scss";
@import "src/colors.scss";

.nav {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
}

.icon {
  position: absolute;
  z-index: 4;
  padding: 1rem;
  font-size: 2em;
  color: $black;
}

.icon-nav {
  cursor: pointer;
  @extend .icon;
  @extend .fa;
  @extend .fa-bars;

  &:hover {
    color: dodgerblue;
  }
}

.icon-nav-active {
  color: dodgerblue;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 200ms ease-in;
}

.fade-leave {
  opacity: 1;
}

.fade-leave-active {
  opacity: 0.01;
  transition: opacity 100ms ease-in;
}