$fa-font-path:"../../../node_modules/font-awesome/fonts";
@import "../../../node_modules/font-awesome/scss/font-awesome";
@import "src/vars.scss";
@import "src/colors.scss";

.nav {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
}

.navDrawer {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 250px;
  background: rgba(255, 255, 255, 0.85);
  height: 100vh;
  border-right: 0.1rem solid $black;
}

.icon {
  position: absolute;
  z-index: 4;
  padding: 1rem;
  font-size: 2em;
  color: $black;
}

.backgroundOverlay {
  z-index: 2;
  width: calc(100vw - 250px);
  height: 100vh;
  position: absolute;
  top: 0;
  left: 250px;
  background: rgba(0, 0, 0, 0.5);
}

.navLinksContainer {
  padding: 3.5em 0.5em;
}

.navLinks {
  text-transform: uppercase;
  font-size: 1rem;
  padding: 0.35rem 0 0 0.35rem;
  margin: 0.25rem 0 1rem 0.25rem;
  list-style-type: none;
  letter-spacing: 0.1rem;

  a {
    color: $black;
    display: block;
    text-decoration: none;
    padding: 0.3rem 0;

    &:hover {
      color: dodgerblue;
    }
  }

  li {
    padding: 0;
  }

  border-bottom: 1px solid $black;
}

.icon-nav {
  cursor: pointer;
  @extend .icon;
  @extend .fa;
  @extend .fa-bars;

  &:hover {
    color: dodgerblue;
  }
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 200ms ease-in;
}

.fade-leave {
  opacity: 1;
}

.fade-leave-active {
  opacity: 0.01;
  transition: opacity 100ms ease-in;
}